* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
#pn{width: 550px; height: auto; background: #fff; margin: 0 auto; padding: 20px;}
.list0{padding: 20px 0; position: relative; border-top: 1px solid #eee;}

.close{width: 20px; height: 20px; position: absolute; top: 0; right: 0; color: #696e78; font-size: 14px; text-align: center; line-height: 20px;}
.close:hover{color: #eb7350;}
.content{width: 450px; line-height: 20px; font-size: 14px; margin-left: 30px;background-color:whitesmoke;text-align: left}
.name{color: #eb7350; }
.pic{margin: 5px 0;}
.good:after{clear:both;content:'';display:block;width:0;height:0;visibility:hidden;}
.good{*zoom:1;}
.date{float:left; color: #808080;}
.good a{float: right; color: #808080;}
.people{background: #F7F7F7; height: 28px; line-height: 28px; padding-left: 10px; margin: 5px 0;}
.comment:after{clear:both;content:'';display:block;width:0;height:0;visibility:hidden;}
.comment{* zoom:1; padding: 10px 0; border-top: 1px solid #eee;}

.comment-left{width: 30px; float: left; display: inline; margin-right: 10px;}
.comment-left img{width: 30px; height: 30px;}
.comment-right{float: left; width: 410px;}
.comment-text{float: left;line-height: 18px;}
.comment-text span{float: left;color:#eb7350;}
.comment-date{font-size: 12px; line-height: 18px; color: grey; position: relative;}
.comment-zan{position: absolute; right: 40px; bottom: 0; color: #808080;}
.comment-dele{position: absolute; right: 0; bottom: 0; color: #808080;}
.hf:after{clear:both;content:'';display:block;width:0;height:0;visibility:hidden;}
.hf{*zoom:1;}
.hf-text{ float: left; border: 1px solid #eee; display: block; height: 15px; width: 438px; padding: 5px; resize: none; color: black; font-size:12px;}
.hf-on .hf-text{height: 60px; color: #333; border:1px solid #ff8140;}
.hf-btn{float: right; width: 65px; height: 26px; background:#ff8140; color: #fff; font-size: 12px; display: none;}
.hf-btn-on{background: #ff8140; color: #fff; }
.hf-nub{float: right; padding: 3px 5px; color: #666; display: none;}
.hf-on .hf-btn{display: inline;}
.hf-on .hf-nub{display: inline;}

.content>.main{
    width: 61%;
    height: auto;
    display: block;
    margin: 15px auto;
    overflow: auto;
    /*background-color: red;*/
    /*opacity: 0.5;*/
}

.content>.foot{
    width: 100%;
    height:100px;
    /*display: block;*/
    padding-top: 35px;
    margin: 0px auto;
    /*position:absolute;*/
    bottom:0;
    overflow: auto;
    background-color: white;
    text-align: center;
    /*opacity: 0.5;*/
}
.main>.thing{

    display: block;
    width: 65%;
    height: auto;
    background-color:white;
    /*position:relative;*/
    font-style: normal;
    font-weight: inherit;
    float: left;

}
.thing>.message{
    float: left;
    /*display: block;*/
    width:100%;
    height: auto;
    margin-left: 0%;
    background-color:white;
    /*position:relative;*/


}
.thing>#com{
    border: 1px solid black;
    text-align: center;
    width:99%;
    height: auto;
    display: block;
    margin: 0px auto;
    overflow: auto;
    /*background-color: red;*/
    /*opacity: 0.5;*/
}
.thing>.comment{
    border: 1px solid black;
    text-align: center;
    width:99%;
    height: auto;
    display: block;
    margin: 0px auto;
    overflow: auto;
    /*background-color: red;*/
    /*opacity: 0.5;*/
}
.message>.head{
    float: left;
    /*display: block;*/
    width:15%;
    height: auto;
    margin-left: 0%;
    background-color:white;
    /*position:relative;*/


}
/*内容整体*/
.message>.msg{
    display: block;
    width: 75%;
    height: auto;
    background-color:white;
    /*position:relative;*/

    float: left;
}
/*昵称 关注*/
.msg>.name{
    width: 100%;
    height: 60px;
    background-color: white;
}
/*.name li{*/
/*display: inline;*/
/*!*background-color: white;*!*/
/*line-height: 40px;*/

/*!*margin: 0px auto;*!*/
/*width: 100px;*/

/*}*/
#but1{
    margin-left: 1%;
    margin-top:4%;
    float: left;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
}

#but2{
    margin-top: 4%;
    margin-right:5%;
    float: right;
    padding: 5px;
    font-size: 15px;
    background-color: honeydew;
    border: 2px solid black;
    border-radius: 5px;


}
#but3{
    border: 1px solid black;
    /*border-style: dotted;*/
    border-radius:30px;
    background-color: #58cfff;
    line-height: 40px;
    text-align: center;
    padding-top: 8px;
    padding-left: 20px;
    padding-bottom: 8px;
    padding-right: 20px;
    color: white;
    font-weight: bolder;

}
.name a:hover{
    background-color: #ff6025;
    color: #ff6025;
    cursor: pointer;
}
/*内容信息*/
.msg>.sub{
    width: 100%;
    height: auto;
    background-color: whitesmoke;
}
.thing>.butt{
    display: block;
    width:100%;
    height: auto;
    margin: 0px auto;
    background-color:white;
    /*position:relative;*/

    /*float: left;*/
}
.butt li{
    display: inline;
    background-color: white;
    line-height: 80px;
    padding-left: 60px;
    padding-right: 50px;
    /*font-size: 15px;*/

}

.main>.self{
    /*text-align: center;*/
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    display: block;
    width: 28%;
    height: auto;
    margin-left: 2%;
    background-color:white;
    /*position:relative;*/
    line-height: 200%;
    float: left;
}
body {
    overflow: auto;
}
.mainNav {
    width: 100%;
    height: 65px;
    background-color: #f6fbfd;
    border-top: 2px #ff6025 solid;
    display: block;
    float: left;
}

.mainNav > .logo {
    width: 20%;
    height: 100%;
    float: left;
    background-image: url("../images/logo.png");
    /*background-repeat: no-repeat;*/
}

.mainNav > .functions {
    width: 60%;
    height: 100%;
    display: block;
    float: left;

}

.functions > .search{
    display: block;
    width: 40%;
    height: 33px;
    float: left;
    font-style: normal;
    background-color: #f2f2f5;
    line-height: 33px;
    margin: 16px 0;
    box-sizing: border-box;
    border:none;
    border-radius: 10px;
    resize: none;
    border: none;
    font-size: 18px;
    text-decoration: none;


}
.functions>img{
    width: 30px;
    height: 30px;
    display: inline;
    margin: 0px;
    position: relative;
    left: -40px;
    margin: auto 0;
    margin: 19px 0;
}

.functions > .search:hover{
    width: 40%;
    height: 33px;
    display: block;
    float: left;
    margin: auto 0;
    font-style: normal;
    background-color: #f2f2f5;
    line-height: 33px;
    margin: 16px 0;
    box-sizing: border-box;
    border-radius: 10px;
    resize: none;
    border-right: none;


}
.functions > ul {
    width:auto;
    height: 33px;
    display: block;
    float: right;
    line-height: 33px;
    margin: 16px 0;
    font-family: Arial;
    text-decoration: none;
    font-style: normal;
    size: 33px;
    overflow: hidden;
    border-radius: 3px;


}
.functions > ul>li{
    list-style: none;
    margin: auto 0;
    text-decoration: none;
    text-align: center;
    font-style: normal;
    width:auto;
    height: 33px;
    line-height: 33px;
    size: 33px;
    display: block;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    border-left: 2px white solid;
    position: relative;
    left: 0px;
    border-radius: 5px;

}
.functions > ul>li:hover{
    list-style: none;
    margin: auto 0;
    text-decoration: none;
    text-align: center;
    font-style: normal;
    width: auto;
    height: 33px;
    line-height: 33px;
    size: 33px;
    display: block;
    float: right;
    color: red;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    border-left: 2px white solid;
    position: relative;
    left: 0px;
    background-color: #ff6025;

    border-radius: 5px;

}
.functions > ul>li>a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-style: normal;
    size: 33px;
    text-align: center;
    line-height: 33px;
}

.mainNav > .setting {
    width: 20%;
    height: 100%;
    float: left;
    display: block;
    float: left;


}
.setting>ul{
    width:100%;
    height:65px;
    display: block;
    float: right;
    line-height: 65px;
    /* margin: 15px 0; */
    font-family: Arial;
    text-decoration: none;
    font-style: normal;
    size: 33px;
    /* overflow: hidden; */
}
.setting>ul>li{
    list-style: none;
    margin: auto 0;
    text-decoration: none;
    text-align: center;
    font-style: normal;
    width: 50px;
    /* height: 35px;    */
    height:65px;
    line-height: 65px;
    size: 35px;
    display: block;
    color: red;
    float: left;
    border-left: 2px white solid;
    position: relative;
    left: 0px;

}
.setting>ul>li:hover{
    list-style: none;
    margin: auto 0;
    text-decoration: none;
    text-align: center;
    font-style: normal;
    width: 50px;
    height: 65px;
    line-height: 65px;
    size: 35px;
    display: block;
    color: red;
    float: left;
    border-left: 2px white solid;
    position: relative;
    left: 0px;
    /* background-color: #ff6025; */
}

/* 下拉框设置 */
.setting-message:hover::after,
.message-setting:hover::after{
    content: '';
    /* 通过边框设置小三角的效果,四个方位均可设置
        width 和 height 的值必须为0
    */
    width: 0;
    height: 0;
    border: 10px solid #ffffff;
    /* border: 10px solid red; */
    /* border-top: none; */
    border-color: transparent transparent #ffffff ;
    /* 设置小三角的定位 */
    position: absolute;
    /* 小三角放在块底部 */
    bottom: 0;
    /* 以下三行代码使小三角水平居中 */
    left: 0;
    right: 0;
    margin: auto;
    /* box-shadow: 0 0 5 5 rgba(0, 0, 0, 0.2); */
}
/* 下拉列表出现 */
.setting-message:hover .drop-down-message,
.message-setting:hover .drop-down-setting{
    display: block;
}
/* 下拉列表 */
.setting-message .drop-down-message{
    width: 150px;
    height: 220px;
    background-color: red;
    position: absolute;
    right: 0;
    box-shadow: 1px -1px 10px rgba(0, 0, 0, 0.2);
    /* border: 1px solid blue; */
    background-color: #FFFFFF;
    border-top: none;
    display: none;
}
.setting a{
    display: block;
    width: 140px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: left;
    color: #333333;
    background-color: #FFFFFF;
}
.setting-message a:hover{
    color: #EB7350;;
}
.setting-message .drop-down-message .last-mes{
    border-top: 1px solid #D9D9D9;
}
.setting-message .drop-down-message a{
    text-align: center;
}
/*
    消息的下拉列表
*/
.message-wrapper .drop-down-setting{
    width: 100px;
    height: 268px;
    /* border: 1px solid black; */
    position: absolute;
    right: 0;
    box-shadow: 1px -1px 10px rgba(0, 0, 0, 0.2);
    display: none;
}
.message-wrapper a{
    display: block;
    width: 100%;
    display: block;
    color: #333333;
    font-size: 12px;
    text-align: center;
}
.message-wrapper a:hover{
    color: #EB7350;
}
.drop-down-setting .out{
    border-top: 1px solid #D9D9D9;
    /* background-color: red; */
}
body>.content{
    width:100%;
    height:655px;
    margin: 0 auto;
    /*background: green;*/
    overflow: auto;
    background-image: url("../images/newBg.jpg");
    background-size: 100%;
    background-repeat:no-repeat ;
    display: block;
    float: left;
    /*position: relative;*/
    overflow: auto;
}

a:link{
    /*点之前*/
    color: black;
    /*取消下划线*/
    text-decoration: none;
}
a:visited{
    /*点之后 返回此页面*/
    color: black;
}
a:hover{
    /*放上去*/
    color:#122b40;
}
a:active{
    /*点之后*/
    color: black;
}



.round_icon{
    margin-top: 10px;
    width: 70px;
    height:70px;
    display: flex;
    border-radius: 50%;
    float: right;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
